.hero{
    height: calc(100vh - 100px);
    background:linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    overflow: hidden;
    z-index: 1;
   
  
    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        
        
        

        .text{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            justify-content: center;

            h2{
                font-style: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }

            h1{
                font-size: 88px;

            }

            .btns{
                button{
                    padding: 20px;
                    border:1px solid white ;
                    border-radius: 10px;
                    background-color: transparent;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                    color: white;
                }
            }
            img{
                width: 50px;
            }
        }
    }

    .imgcontainer{
        position: absolute;
        top:0px;
        right: 100px;
        height: 100%;

        img{
        // border: 2px solid white;
        }
    }
}